body{
    padding: 0;
    margin: 0;
}
.indexcss{
    width: 100vw;
    height: 100vh;
    background-image: url(20190426125721_rtqvy.jpg);
    -webkit-background-size: 100%;
    background-size: 100%;
    padding: 0;
    margin: 0;

}
.rowone{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}
.row{
    margin: 0;
}
.rowtwo{
}
.condition{
    width: 100vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.44);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.condition>div{
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#passworld{
    border: none;
    height: 35px;
    margin: 10px;
    padding: 5px;
    border-radius: 3px;
    background-color: rgba(255, 255, 255, 0.65);
    font-size: 14px;
}
#yes{
    display: inline-block;
    padding: 10px 15px;
    background-color: pink;
    color: white;
    border-radius: 10px;
}
.conditions{
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(171, 205, 255, 0.44);
}